<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pet Store</title>
        <link rel="stylesheet" href="css/app.css">
        <script type="text/javascript" src="js/app.js">
        </script>
    </head>
    <body onload="loadPets()">
        <h1>Simple Pet Store</h1>
        <div id="petsContainer" class="row">
            <span id="waitSpan">Please wait while we load the pets...</span>
        </div>
    </body>
</html>